{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10",
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ],
  ],
  "plugins": [
    "@babel/plugin-transform-object-rest-spread",
    "@babel/plugin-transform-classes",
  ]
}
